@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    /* light black: #0D0208
    lighter light black: #272727
    matrix green: #008F11
    evangelion purple: #765898  
    fonte primaria: 'Krona One', sans-serif;
    fonte secundária: 'Montserrat', sans-serif; */
    --cor-primaria: #0D0208;
    --cor-secundaria: #008F11;
    --cor-terciaria: #765898;
    --cor-hover: #272727;
    --cor-hover-curriculum: #b880f8;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Dancing Script', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #765898;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
    font-size: 1.5625rem;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto__certificados {
    align-items: start;
} 

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    text-align: justify;
}

.title {
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    padding: 1px;
    margin: 1px;
}

.projetos {
    color: var(--cor-terciaria);
}

.name {
    color: var(--cor-terciaria);
    font-family: var(--fonte-terciaria);
    text-decoration: underline;
    font-size: 1.625rem;

}

.destaque {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 1.625rem;
}

.apresentacao__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    /* background-color: #008F11; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}
/*span {
    color: #765898;
    border: 1px solid #765898;
    padding: 10px;
} */
.picture {
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
    width: 33%;
    border-radius: 16px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho {
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    .cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
    font-weight: 600;
    color: #765898;
    text-decoration: none;
}
}

.apresentacao__curriculum {
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 82px;
}

.apresentacao__curriculum__section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__curriculum__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__curriculum__texto a:hover {
    text-decoration: none;
    color: var(--cor-hover-curriculum);
    font-size: 25px;
}

.apresentacao__curriculum__texto__certificados {
    align-items: center;
} 

.apresentacao__curriculum__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao__curriculum__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    text-align: justify;
}

.images__projetos {
    width: 100%;
}

.images__projetos:hover {
    scale: 120%;
}

.text__project {
    text-decoration: none;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-terciaria);
}

.text__project:hover {
    text-decoration: none;
    color: var(--cor-terciaria);
    text-align: center;
}

.projects {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.projects__section {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1%;
}
